$color-primary-light:rgb(250, 233, 233);
$color-primary:#BB9981;
$color-primary-dark:#534340;
$color-black:black;
$color-white:white;

$color-tertiary-light: #2998ff;
$color-tertiary-dark: #5643fa;
$color-secondary-light:#7ed56f;
$color-secondary-dark:#28b485;

$color-error:rgb(243, 127, 127);
$color-valid:rgb(108, 226, 108);