

.primary-heading{
    color:$color-primary-light;
    & span{
        display:inline-block;
    
    }
    &--main{
        font-size:3.5rem;
        text-transform:uppercase;
        letter-spacing:3px;
        line-height: 1.5;
        margin-bottom: 1rem;
        animation-name:moveInRight;
        animation-duration:0.8s;
        animation-timing-function:ease-in;
    }
    &--sub{
        font-size:2rem;
        text-transform:uppercase;
        letter-spacing:5px;
        margin-bottom:2rem;
        animation: moveInLeft 0.8s ease-in;
    }
  
}
.secondary-heading{
    display:inline-block;
    font-size:3rem;
    text-transform:uppercase;
    background-image:linear-gradient(to right,$color-primary,$color-primary-dark);
    -webkit-background-clip: text;
    background-clip:text;
    color:transparent;
    transition:all 0.2s;
    &:hover{
        transform:skewY(2deg);
    }
}
.tertiary-heading{
    font-size:2rem;
    background-image:linear-gradient(to right,$color-primary,$color-primary-dark);
    -webkit-background-clip:text;
    background-clip:text;
    color:transparent;
}
.paragraph{
    font-size:1.5rem;
    letter-spacing:2px;
    line-height:1.3;
    padding:0 1rem;
}